In [10]:
import pandas as pd

In [11]:
df = pd.read_csv ('data/The_Office_Lines.csv')
df

,season,episode,title,scene,speaker,line,Unnamed: 6
0,1,1,Pilot,1,Michael,All right Jim. Your quarterlies look very good...,NaN
1,1,1,Pilot,1,Jim,"Oh, I told you. I couldn't close it. So...",NaN
2,1,1,Pilot,1,Michael,So you've come to the master for guidance? Is ...,NaN
3,1,1,Pilot,1,Jim,"Actually, you called me in here, but yeah.",NaN
4,1,1,Pilot,1,Michael,"All right. Well, let me show you how it's done.",NaN
...,...,...,...,...,...,...,...
54621,9,24,Finale,8153,Creed,It all seems so very arbitrary. I applied for ...,NaN
54622,9,24,Finale,8154,Meredith,I just feel lucky that I got a chance to share...,NaN
54623,9,24,Finale,8155,Phyllis,I'm happy that this was all filmed so I can re...,NaN
54624,9,24,Finale,8156,Jim,I sold paper at this company for 12 years. My ...,NaN
54625,9,24,Finale,8157,Pam,I thought it was weird when you picked us to m...,NaN