In [8]:
import pandas as pd

In [9]:
df = pd.read_csv ('The-Office-Lines.csv')
df.drop('Unnamed: 6', axis = 1, inplace = True) 
df["speaker"]=df["speaker"].str.lower().str.replace(':','').str.strip().str.title()

In [10]:
df

,season,episode,title,scene,speaker,line
0,1,1,Pilot,1,Michael,All right Jim. Your quarterlies look very good...
1,1,1,Pilot,1,Jim,"Oh, I told you. I couldn't close it. So..."
2,1,1,Pilot,1,Michael,So you've come to the master for guidance? Is ...
3,1,1,Pilot,1,Jim,"Actually, you called me in here, but yeah."
4,1,1,Pilot,1,Michael,"All right. Well, let me show you how it's done."
...,...,...,...,...,...,...
54621,9,24,Finale,8153,Creed,It all seems so very arbitrary. I applied for ...
54622,9,24,Finale,8154,Meredith,I just feel lucky that I got a chance to share...
54623,9,24,Finale,8155,Phyllis,I'm happy that this was all filmed so I can re...
54624,9,24,Finale,8156,Jim,I sold paper at this company for 12 years. My ...
54625,9,24,Finale,8157,Pam,I thought it was weird when you picked us to m...

In [11]:
df.to_csv('the_office_clean.csv', index=False)